header {
	padding: 10px 0;
	background-color: rgba(17, 17, 17, .8);
	position: fixed;
	width: 100%;
}

nav {
	margin: 0 auto;
	width: 50%;
}

nav a {
	width: 24.5%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: white;
}

#home {
	height: 1000px;
	padding-top: 38px;
	background-image: url(img/11.png);
	background-repeat: no-repeat;
	background-position: center;
}

#homelogo {
	display: block;
	margin: 15px auto;
}

#truckrmotto {
	display: block;
	max-width: 768px;
	margin: 25px auto;
	text-align: center;
	font-size: 55px;
}

#truckrexplanation {
	background-color: rgba(255, 255, 255, .6);
	padding: 25px;
	max-width: 768px;
	margin: 25px auto;
	text-align: center;
	font-size: 24px;
}

#order {
	height: 1000px;
	background-color: #000000;
}